@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-white text-slate-900 dark:bg-slate-900 dark:text-slate-100;
}

a {
  @apply underline-offset-2;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  @apply w-2;
}
::-webkit-scrollbar-track {
  @apply bg-slate-200 dark:bg-slate-800;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-400 dark:bg-slate-600 rounded;
}
